{% if loaded %}
    <table>
    {% for item in items %}
    <tr>
        <td>
        {% if item.isFlying %}  <span style="color:green">&check;</span>{% else %}<span style="color:red">&#x2715;</span>{% endif %}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.notes }}</td>
    </tr>
    {% else %}
    <tr><td>no items to show</td></tr>
    {% endfor %}
    </table>
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}
