<!-- MMM-Irrigation.njk -->
{% if loaded %}
  <table class="irrigation-table">
    <tbody>
      {% for sensor in sensors %}
        <tr>
          <td class="sensor-name">{{ sensor.name  | replace('Soil Moisture Percent', '') | replace('Moisture', '') | trim }}</td>
          <td class="progress-bar-cell">
            <span class="progress-bar">
              <span class="progress" style="width: {{ sensor.value }}%">{{ sensor.value }}%</span>
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div>Loading moisture sensors...</div>
{% endif %}
